{% extends "base.html" %}
{% load static wagtailimages_tags %}


{% block content %}
{% image self.banner_image fill-2000x500 as img %}
<div class="container-fluid" style="background-image: url('{{img.url}}'); background-size: cover;">
    <div class="jumbotron bg-transparent">
        <div class="">
            <h1 class="display-1 text-light text-center banner-title">dive <small>on</small> Down</h1>
            <h2 class="display-4 text-light text-center banner-title">Surface <small>reflections.</small></h2>
        </div>
    </div>
</div>

<div class="container">
<!-- Page Heading -->
<h1 class="my-1">From
<small>my blog</small>
</h1>
<!-- Project One -->
<div class="row">
<div class="col-md-7 my-5">
<a href="{{ self.featured_blog_post.specific.url }}">

<img class="img-fluid rounded mb-3 mb-md-0" src="ship.jpg" alt="img3">
</a>
</div>
<div class="col-md-5">
<div class="post-preview">
<a href="#"><h2 class="post-title">Diving in the sea</h2>
<h3 class="post-subtitle">a description of the thing where I dived</h3></a>
<div class="text-center"><a class="btn btn-light" href="#">Read more</a></div>
</div>
</div>
</div>
</div>
<hr>
{% endblock content %}
