{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags blogapp_tags %}


{% block content %}
<!-- Banner and title -->
{% image self.banner_image fill-4000x1000-c100 as img %}
<div class="container-fluid" style="background-image: url('{{img.url}}'); background-size: cover;">
    <div class="jumbotron bg-transparent">
        <div class="my-5">
            <h1 class="display-5 text-center banner-title-blogdetail my-5">{{ self.custom_title }}</h1>
        </div>

    </div>
</div>

<div class="container">
    <div class="row flex-row-reverse my-5">
        <!-- For the panel on the right, -->
        <div class="col-md-3 mx-auto my-3">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Categories</h2>
                    {% for category in categories %}
                        <a style="display: block;"{% if category not in self.category.all %}class="text-muted"{% endif %} href="/blog/?category={{ category.slug }}"> {{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <h2 class="text-center">Related</h2>
                    {% for post in related %}
                    <div class="card bg-dark" style="width: 18rem;">
                        {% image post.banner_image fill-300x200 as postimg %}
                        <a href="{{ post.url }}"><img src="{{ postimg.url }}" class="card-img-top" alt="{{ postimg.alt }}"></a>
                        <div class="card-body">
                            <a href="{{ post.url }}"><h5 class="card-title text-light">{{ post.title }}</h5></a>
                            <p class="card-text text-light">{{ post.description }}</p>
                            <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- For the panel on the left -->
        <div class="col-md-9 order-first order-md-last">
            <h2> Published {{ self.last_published_at.date }}</h2>
            <!-- Post Content -->
            <article class="my-2">
                <div class="row">
                    <div class="col-sm-6 my-auto">
                        <h4>{{ self.description }}</h4>
                    </div>
                    <div class="col-sm-6 foo" style="background-color: #8a8983;">
                        <h4 class="text-center text-light my-2">QUICK FACTS:</h4>
                        <span style="color: white;">{{ self.quick_facts|richtext }}</span>
                    </div>
                </div>

                {% for block in page.streams %}
                <div class="my-4">
                    {% include_block block %}
                </div>
                {% endfor %}
            </article>
            <!-- author -->
            <hr>
            {% if self.blog_authors.all %}
            <div class="container-fluid my-3">
                {% for author in self.blog_authors.all %}
                <div class="row justify-content-center">
                    <h1 class="text-center">{{ author.author.name }}</h1>
                </div>
                <div class="row">
                    <div class="col-sm-5 my-2">
                        {% image author.author.image fill-640x480 as authorimage %}
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ authorimage.url }}" alt="{{ authorimage.alt }}">
                    </div>
                    <div class="col-sm-7">
                        {{ author.author.description|richtext }}
                        <div class="text-center">
                                {% if author.author.instagram_url %}
                                <a class="text-center help-social help-social-instagram" target="_blank" href="{{ author.author.instagram_url }}"><i class="fa-3x fab fa-instagram"></i></a>
                                {% endif %}
                                {% if author.author.reddit_url %}
                                <a class="text-center help-social help-social-reddit" target="_blank" href="{{ author.author.reddit_url }}"><i class="fa-3x fab fa-reddit"></i></a>
                                {% endif %}
                                {% if author.author.youtube_url %}
                                <a class="text-center" target="_blank" href="{{ author.author.youtube_url }}"><i class="reddit fa-3x fab fa-reddit"></i></a>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <hr>
            <!-- Share buttons -->
            <div class=" my-3 sharethis-inline-share-buttons"></div>
            <!-- comments from disqus -->
            {% show_comments %}
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5dcaa82ca0875f0019f61abf&product=inline-share-buttons" async="async"></script>
{% endblock %}
