{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}


{% block content %}
<!-- Banner and title -->
{% image self.banner_image fill-4000x1000-c100 as img %}
<div class="container-fluid" style="background-image: url('{{img.url}}'); background-size: cover;">
    <div class="jumbotron bg-transparent">
        <div class="">
            <h1 class="display-4 text-light text-center banner-title">About <small>Me</small> </h1>
            <h2 class="display-4 text-light text-center banner-title"><small>And</small> d<small>ive</small> o<small>n</small> d<small>own</small></h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-sm-5">
        {% image self.about_image fill-640x480 as img2 %}
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ img2.url }}" alt="{{ img2.alt }}">
    </div>
    <div class="col-sm-7 text-primary">
        <h1 class="text-center">{{ self.about_title }}</h1>
        {{ self.about_text|richtext }}
        <div class="text-center">
                {% if self.instagram_url %}
                <a class="text-center help-social help-social-instagram" target="_blank" href="{{ self.instagram_url }}"><i class="fa-3x fab fa-instagram"></i></a>
                {% endif %}
                {% if self.reddit_url %}
                <a class="text-center help-social help-social-reddit" target="_blank" href="{{ self.reddit_url }}"><i class="fa-3x fab fa-reddit"></i></a>
                {% endif %}
                {% if self.youtube_url %}
                <a class="text-center" target="_blank" href="{{ self.youtube_url }}"><i class="reddit fa-3x fab fa-reddit"></i></a>
                {% endif %}
        </div>
    </div>
</div>
</div>


{% endblock content %}
